* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1a1a1a;
  color: white;
  padding:  10px 0px 10px 0px;
}

.background {
  background: linear-gradient(to right, #1a1a1a calc(25% + 20px ), #333333 25%);
}
.header {
  text-align: left;
  display: flex;
  padding: 100px 40px 153px 40px;
  z-index: 1;
}

.header:after {
  position: absolute;
  content: "";
  background-color: red;
  top: 0px;
  right: 0px;
}


.header h1 {
  font-size: 120px;
  font-weight: bold;
  line-height: 1.2;
  
}
.header div.left {
  flex:1;
  
}
.header div.right {
  flex:1;
  
}


.header p {
  margin: 20px 0;
  font-size: 25px;
  color: #b0b0b0;
  line-height: 50px;

}

.header button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.trainers {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -200px;
  padding:  0px 40px;
}

.trainer {
  background-color: #333333;
  border-radius: 8px;
  flex: 1;
  font-size: 0px;
}

.trainer img {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  border-radius: 8px;
}

.trainer .name {
  font-size: 18px;
  font-weight: bold;
}

.trainer .role {
  font-size: 14px;
  color: #b0b0b0;
}

.main-trainer {
  transform: translateY(200px);
}


.big {
  flex: 2;
}

.big img{
  min-height: 400px;
  max-height: 400px;
  z-index: 2;
}

div.info {
  padding-top: 20px;
}