section.section-content {
    margin-top: 200px;
    margin-bottom: 150px;
}

section.section-content div.content {
    display: flex;
    margin-bottom: 50px;
}

section.section-content div.color {
    position: relative;
    z-index: 1;
    margin-bottom: 48px;
}

section.section-content h2 {
    margin-top: 100px;
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
    letter-spacing: -2px;
    color: #FFFFFF;
}

section.section-content svg {
    margin-top: -130px;
    position: absolute;
    z-index: -1;
}

section.section-content div.frame {
    background: rgba(255, 255, 255, 0.1);
    right: 0px;
    position: absolute;
    height: 733px;
    width: 999px;
    padding: 120px 120px 403px 321px;
}

section.section-content div.frame p {
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
    color: #FFFFFF;
    display: block;
}

section.section-content div.frame button {
    background: #25AB75;
    border-radius: 10px;
    margin-top: 50px;
    padding: 24px 43px;
}

section.section-content div.frame button.get-started {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

/* div.picture-content div.list-coach   {

} */

/* div.picture-content div.list-coach div.coach   {

}    */

 div.two-img {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

img.list-img {
    position: relative;
    aspect-ratio: 558 / 514;
    object-fit: cover;
    border-radius: 0;
    width: 100%;
}

img.trainer {
    aspect-ratio: 321 / 321;
    object-fit: cover;
    border-radius: 0;
}

img.trainer-top {
    aspect-ratio: 321 / 321;
    object-fit: cover;
    border-radius: 0;
}

/* div.coach div.coach-bottom {
    margin-left: 220px;
} */

div.coach-center {
    width: 25%;
    transform: translateY(83%);
}

div.coach{
    width: 25%;
}

div.coach-bottom {
    width: 50%;
}

div.coach-bottom div.botton {
    margin-left: 20px;
}

div.list-coach h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;   
    color: rgba(255, 255, 255, 1);
}

div.list-coach span {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}
