
* {
    margin: 0px;
    padding: 0px;
}

body {
    background:  #23272F;
    font-family: "Poppins";
}

div.content {
    margin: 20px auto;
    width: 900px;
}


div.content h1 {
    font-size: 40px;
    font-weight: 800;
    color: #F6F7F9;
    margin-bottom: 20px;
}

div.content > p {
    color: #F6F7F9;
    margin-bottom: 40px; 
}

div.content >p span {
    color: #149ECA;
}

div.article  {
    border: 1px solid #E5E7EB;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 16px;
    } 

div.article h2 {
    
    font-size: 28px;
    font-weight: 600;
    color: #F6F7F9;
    margin-bottom: 16px;
}

div.article p {
    font-size: 18px;
    font-weight: 400;
    color: #F6F7F9;
    margin-bottom: 16px;
}

div.article span {
    font-size: 18px;
    font-style: italic;
    color: #99A1B3;
    margin-bottom: 16px;
    display: inline-block;
}

div.article a {
    font-size: 18px;
    color: #149ECA;
}


