section.section-our {
    background: rgba(246, 251, 249, 1);
    text-align: center;
    padding: 100px 151px;
}

section.section-our h6 {
    font-size: 42px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: rgba(37, 61, 50, 1);
    margin-bottom: 30px;
}

section.section-our p {
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    color: rgba(120, 132, 125, 1);
}

div.progress {
    margin-bottom: 60px;
}

section.section-our a {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.02em;
    color: rgba(163, 185, 56, 1);
}

section.section-our i {
    margin-left: 16px;
}