.services-step {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 0; 
}

.services-step article {
    flex: 1;
    padding: 98px 45px;
    position: relative;
}

.services-step article:nth-child(1) {
    background-color: #00B489; 
}

.services-step article:nth-child(2) {
    background-color: #00A67D; 
}

.services-step article:nth-child(3) {
    background-color: #009873; 
}

.services-step h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.02em;
    color: rgba(236, 253, 245, 1);
}

.services-step img[src*="Line"] {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}

.services-step button {
    padding: 2px 8px;
    background: rgba(4, 120, 87, 1);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 18px;
    margin-right: 170px;
}

.services-step span {
    color: white;
    font-size: 14px;
    opacity: 0.8;
}

.services-step img[src*="Image Container"] {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px 0;
}

.services-step a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    margin-top: 15px;
    font-family: "Work Sans";
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px

}

.services-step a i {
    width: 25px;
    height: 17px;
}

button.more {
    padding: 18px 53px;
    margin-top: 24px;
    background: linear-gradient(238.08deg, #059669 19.19%, #10B981 80.81%);
    border-style: solid;
    border-color: rgba(236, 253, 245, 1);
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
}

div.button {
    margin-bottom: 90px;
    text-align: center;
}
