section.index-bottom {
    text-align: center;
    margin-bottom: 113px;
}


div.list-link button.Previews {
    padding: 12px 10px;
    border: 1px solid #F3F3F3;
    background-color: #fff;
    margin-right: 8px;
    font-size: 14px;
    line-height: 16.94px;
    color: #667085;
}

div.list-link button.next {
    padding: 12px 10px;
    border: 1px solid #F3F3F3;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #667085;
}

div.list-link a {
    text-decoration: none;
    padding: 12px 16px;
    border: 1px solid #F3F3F3;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: #667085;
}


div.list-link a.number {
    background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
}