section.hero-green {
    display: flex;
    position: relative;
}

div.header {
    width: 50%;
    padding-left: 104px;
}

div.hero-img {
    width: 50%;
}

div.header img {
    margin-top: 56px;
}

div.header h1 {
    font-size: 56px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 0.02em;
    color: rgba(31, 41, 55, 1);
    margin-top: 161px;
    margin-bottom: 64px;
}

div.header h1 span {
    color: rgba(167, 139, 251, 1);
}

div.header button.become {
    padding: 14px 28px;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(4.01deg, #059669 3.04%, #36DCA5 96.51%);
    border: 1px solid rgba(16, 185, 129, 1)
}

div.header button.see {
    padding: 14px 28px;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    color: rgba(16, 185, 129, 1);
    border: 1px solid rgba(16, 185, 129, 1);
    background-color: #fff;
    margin-left: 5px;
}

div.hero-header {
    display: flex;
}

div.hero-img img.people {
    width: 100%;
    height: 100%;
}

div.hero-img img.time {
    position: absolute;
    left: 50%;
    top: 620px;
}

div.time {
    display: flex;
    padding: 13px 0px 13px 0;
    gap: 38px;
    height: 42px;
    background: rgba(255, 255, 255, 1);
}

div.time span.grand {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    color: rgba(139, 92, 246, 1);
}

div.time span.all-time {
    font-family: "Work Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    color: rgba(139, 92, 246, 1);
}

div.button-time  {
    padding: 14px 58px;
    background: linear-gradient(90deg, #B899FF -1.13%, #8B5CF6 101.43%);
    display: flex;
    justify-content: space-around;
    position: relative;
}

div.hour span.time{
    font-family: "Work Sans";
    font-size: 46px;
    font-weight: 500;
    line-height: 68.6px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    display: block;
}

div.hour span {
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    display: block;
}

div.time-bottom {
    position: absolute;
    left: 50%;
    bottom: 61px;
    transform: translateX(-50px);
}

span.bottom-dot  {
    display: flex;
    align-items: center;
    font-size: 49px;
    color: #fff;
}

div.button-time::before {
        content: "";
        width: 40px;
        height: 110px;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translate(100%, -42px);
}

div.button {
    display: flex;
    gap: 76px;
}

div.button a {
    text-decoration: none;
    margin-right: 18px;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    color: rgba(31, 41, 55, 1);
}

div.button a.right {
    color: rgba(167, 172, 178, 1);
}

div.button i {
    width: 18.49px;
    height: 12.19px;
    color: rgba(31, 41, 55, 1);
}

div.pricing i {
    color: rgba(167, 172, 178, 1);
}