@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.table {
    font-size: 1rem;
}

th.col-level {
    /* width: 110px; */
}

th.col-action {
    width: 220px;
}

.hightlight {
    background-color: yellow;
}