@media only screen and (max-width: 450px) {
    
    header {
        padding: 0px 25px;
    }

    header nav ul.menu {
        gap: 20px;
    }

    header nav {
        display: flex;
        justify-content: center;
    }

    header,section {
        padding: 0 30px;
    }

    nav img {
         display: none;
    }

    header nav a.list-menu {
        display: none;
    }

    h2 {
        font-size: 30px;
    }

    div.list-slider {
        padding-top: 40px;
    }

    h1 {
        font-size: 70px
    }

    section.section-partner {
        padding: 30px 40px;
    }

    ul.list-partner li {
        width: 20%;
    }

    ul.list-partner li img {
        width: 100%;
    }

    section.section-partner ul.list-partner {
        gap: 20px;
    }

    section.section-services {
        background: rgba(255, 255, 255, 1);
        padding: 50px 30px; 
        display: flex;
        flex-wrap: wrap;
    }

    div.services-left {
        width: 100%;
        margin-bottom: 30px;
    }

    div.services-left h3 {
        font-size: 30px;
        line-height: 45px;
    }

    div.box-services {
        width: 100%;
    }

    div.services-right {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    div.box-services h4 {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    div.box-services {
        margin-bottom: 40px;
    }

    div.service-bottom img {
        width: 100%;
        margin-bottom: 70px;
    }

    div.service-bottom {
        display: block;
        margin-top: 20px;
    }

    div.service-bottom h5 {
        font-size: 30px;
        line-height: 50px;
    }

    div.service-bottom button.get-right {
        margin-bottom: 0px;
    }

    section.section-our {
        padding: 0 25px;
        padding-bottom: 40px;
    }

    section.section-our h6 {
        font-size: 33px;
        line-height: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    div.list-progress {
        display: block;
    }

    section.section-article {
        padding: 20px 25px;
    }

    div.picture-left {
        display: block;
        margin-bottom: 31px;
    }

    div.picture-left h5 {
        font-size: 35px;
        line-height: 53px;
    }

    div.picture-title {
        display: block;
    }

    article.seo {
        width: 100%;
    }

    article.digital {
        width: 100%;
        margin-top: 20px;
    }

    article.phone {
        width: 100%;
    }

    section.section-footer {
        padding: 0 25px;
    }

    div.other p {
        font-size: 30px;
        line-height: 50px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    div.mask-other img.mask {
        width: 100px;
        height: 100px;
    }

    div.other {
        margin-left: 0;
    }

    div.button-email {
        padding-left: 0px;
    }

    button.email {
        padding: 28px 110px 28px 40px;
        margin-left: 55px;
        margin-bottom: 20px;
    }

    button.subscribe {
        margin-left: 55px;
    }

    img.group-294 {
        max-width: 150px;
    }

    ul.title {
        margin-top: 60px;
    }
}

