* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

  
  ul {
    list-style-type: none;
  }
  
  
body {
    font-family: "Rubik";
    background: #fff;
}

header, section {
  padding: 0 50px 0 50px;
}
