section.section-services {
  background: rgba(255, 255, 255, 1);
  padding-left: 110px;
  padding-right: 110px;
  margin-bottom: -60px;
  padding-top: 110px;
}

div.service-bottom img {
  width: 45%;
  margin-bottom: 147px;
}

div.services-left {
  width: 42%;
}

div.services-right {
  width: 58%;
  display: contents;
}

div.services-left h3 {
  font-size: 41px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.02em;
  color: rgba(37, 61, 50, 1);
  margin-bottom: 30px;
}

div.services-left p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: rgba(120, 132, 125, 1);
  margin-bottom: 40px;
}

div.services-left a {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.44px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(163, 185, 56, 1);
}

div.services-left i {
  margin-left: 16px;
}

div.box-services h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.44px;
  margin-top: 40px;
  margin-bottom: 25px;
  color: rgba(37, 61, 50, 1);
}

div.box-services p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(120, 132, 125, 1);
}

div.box-above {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-160%);
  gap: 50px;
}

div.box-below {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-120%);
  gap: 50px;
}

div.service-bottom {
  display: flex;
  gap: 110px;
  transform: translateY(-25%);
}

div.service-bottom h5 {
  font-size: 42px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.02em;
  color: rgba(37, 61, 50, 1);
  margin-bottom: 30px;
}

div.service-bottom p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: rgba(120, 132, 125, 1);
  margin-bottom: 50px;
}

div.service-bottom button.get-right {
  padding: 27px 62px;
  background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
  border: 0px solid;
  border-image-source: linear-gradient(283.81deg, rgba(255, 255, 255, 0.69) 11.22%, rgba(255, 255, 255, 0.25) 89.57%);
  font-size: 20px;
  font-weight: 600;
  line-height: 23.7px;
  letter-spacing: 0.02em;
  border-radius: 192px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 147px;
}