* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #F3F2FD 0%, #F9F4FC 100%);
    font-family: "Mulish";
}

div.frame {
    width: 1152px;
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 15px 40px -20px #00406665;
    font-size: 0; 
    margin: 30px auto;
}

div.outstanding {
    border-radius: 5px 0px 0px 5px;
    background: linear-gradient(135deg, #BA91E9 0%, #6D58CE 100%);
    display: inline-block;
    padding: 65px 159px 250px 65px;
    font-size: 16px;
    width: 465px;
    margin-right: 95px;
    vertical-align: middle;
}

div.outstanding div.outstanding-child {
    color: #FFFFFF;
    margin-bottom: 40px;
}

div.outstanding div.outstanding-child .icon {
    background: #FFFFFF3B;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    margin-bottom: 17px;
}

div.outstanding div.outstanding-child h3 {
    font-family: "Mulish";
    font-weight: 600;
    font-size: 20px;
    line-height: 25.1px;
    margin-bottom: 10px;
}

div.outstanding div.outstanding-child p {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
}

div.content {
    /* background-color: aqua; */
    color: #151E42;
    display: inline-block;
    width: 417px;
    vertical-align: middle;
}

div.content h2 {
    font-family: "Mulish";
    font-size: 32px;
    font-weight: 700;
    line-height: 40.16px;
    color: #151E42;
    margin-bottom: 35px;

}

label {
    font-size: 16px;
    color: #151E42;
    font-weight: 600;
}

input::placeholder {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
    color: #151E42;
}

input.info  {
    width: 100%;
    outline: 0;
    border: 1px solid #C6C8CD;
    border-radius: 5px;
    padding: 20px 0;
    padding-left: 20px;
    margin-top: 10px;
}


input.checkbox {
    display: inline-block;
    width: 29px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #C6C8CD;
    vertical-align: middle;
}
p.notice {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

button.btn-submit {
    padding: 20px 0;
    outline: none;
    border: none;
    width: 100%;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    background: rgba(110, 89, 206, 1);
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 20px 20px -15px rgba(89, 77, 223, 0.5);
}

div.row {
    margin-bottom: 35px;
}

div.row:nth-child(4) {
    margin-bottom: 40px;
}
form.form-submit:last-child {
    margin-bottom: 40px;
}







