* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.table-container {
  margin-top: 50px;
}
.center-align {
  vertical-align: middle !important;
  text-align: center;
}
th.date-column {
  width: 120px;
}